biopython==1.78
mafft==7.487
muscle==3.8.1551
clustalw==2.1
matplotlib==3.3.1
numpy~=1.19.1
openpyxl==3.0.7
pandas~=1.1.0
pybedtools==0.8.1
pymol==2.4.2
paml==4.9
pyensembl==1.9.4
raxml==8.2.12
gblocks==0.91b
ncbi-datasets-cli==12.13.2
pip~=21.3
colorlog~=5.0.1
zlib~=1.2.11
wheel~=0.37.0
openssl~=1.1.1l
cryptography~=3.4.7
lxml~=4.6.3
tornado~=6.1
keyring~=23.0.1
setuptools~=57.1.0
future~=0.18.2
docutils~=0.17.1
requests~=2.26.0
simplejson~=3.17.2
coloredlogs~=14.0
pyinstaller~=5.1